<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <style>
            .error{
                color: red;
            }
        </style>
        
    </head>
    <body>
        <div>
        <h1><img src="https://vignette.wikia.nocookie.net/batman/images/9/92/Batman-ArkhamKnight-BatsuitRender.png/revision/latest?cb=20140605151444" 
            width="300px" height="500px" style="float:left" >  Batmaniacs!!!<br>Blog</h1>
        </div>
        <nav>
            <a  style="color: goldenrod;" href = "/">Home</a> | <a href="/blog">All Posts</a> | <a href="/newpost">New Post</a> | <a href="/login">Login</a> | <a href="/logout">Logout</a> 
            
        </nav>
            
       <hr>

        {% block content %}
        {% endblock %}

    </body>
</html>